[submodule "Tunti/vendor/spdlog"]
	path = Tunti/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Tunti/vendor/GLFW"]
	path = Tunti/vendor/GLFW
	url = https://github.com/TheCherno/glfw
